{% extends 'base.html' %}
{% block content %}


<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>
<span class="square"></span>

<div class="card">
    <div class="circle-container">
        <div class="yannick-container">
            <a href={{ url_for('static', filename='img/yannick.jpeg' ) }} target="_blank">
                <img src={{ url_for('static', filename='img/yannick.jpeg' ) }} id="yannick" alt="Yannick Yamdjeu">
            </a>
        </div>
    </div>
    <div id="text-container"></div>
    <div class="btn-container">
        <button id="btn-predict" onclick="predict()" disabled>Predict</button>
    </div>
    <div class="dropzone dz-clickable">
        <div class="dz-message needsclick">
            <p>Drop files here or click to upload.</p>
        </div>
    </div>
    <div class="links">
        <ul>
            <li id="link-predict"><a onclick="reset()" href='#'>Predict again !</a></li>
            <li id="link-history"><a onclick="history()" href='#'>Show last predictions</a></li>
        </ul>
    </div>
</div>

<script>

</script>
{% endblock %}